<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 기존의 interface ItemMapper명과 일치해야 함-->
<mapper namespace="com.example.mapper.MemberMapper"> 

    <!-- Join -->
    <insert id="insertMemberOne" parameterType="com.example.dto.Member">
        INSERT INTO memtb(id, password, name, age, role)
        VALUES( #{id}, #{password}, #{name}, #{age}, #{role} )
    </insert>

    <!-- Login -->
    <select id="selectMemberOne" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
        SELECT m.id, m.name, m.age, m.role FROM memtb m WHERE m.id = #{id} AND m.password = #{password}
    </select>

    <!-- Login -->
    <select id="selectMemberOne1" parameterType="com.example.dto.Member" resultType="com.example.dto.Member">
        SELECT m.* FROM memtb m WHERE m.id = #{id}
    </select>

    <update id="updateMemberOne" parameterType="com.example.dto.Member">
       UPDATE memtb SET name = #{name},age = #{obj.age}
       WHERE id = #{id};
    </update>

     
    <!-- <update id="deleteMemberInfo" parameterType="com.example.dto.member">
        UPDATE memtb SET password = null, name = null , age = null, regdate = null
        WHERE id = #{id} AND password =	#{password}
    </update>  -->
</mapper>