<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>게시글 목록 조회</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    
        <header>
            <br>
            <h1 class="text-center">Jungyu's Spring note</h1>
        </header>
       
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-primary" th:href="@{/board/insert.do}">게시글 작성</a>
</div>
    <div>
        <table class="table table-hover table-striped text-center" style="border: 1px solid;">
            <thead>
                <tr style="background-color: rgb(255, 237, 237);">
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>
            <tbody>
                    <tr th:each="one : ${list}">
                        <td th:text="${one.no}"></td>
                        <td>
                            <a th:href="@{/board/selectone.do(no=${one.no})}" th:text="${one.title}"></a>
                        </td>
                        <td th:text="${one.writer}"></td>
                        <td th:text="${one.regdate}"></td>
                        <td th:text="${one.hit}"></td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>

</html>