<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>학생2 홈화면</h2>
    <hr />

    <!-- 태그 display => block, inline, inline-block
    block => p div 한칸 내려옴
    inline => label ... 가로로만 width속성 설정이 안됨.
    inline-block => 가로로 배치, width속성이 설정 가능. -->

    <div th:if="${user != null}">
        <p th:text="${user}" style="display: inline-block;"></p>
        <p th:text="${user.username}"></p>


        <form th:action="@{/logout.do}" method="post">
            <input type="submit" value="로그아웃" />
        </form>
    </div>
    <div th:if="${user == null}">
        <a th:href="@{/student2/login.do}">로그인</a>
    </div>
</body>

</html>