<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원정보 + 주소정보 (Address1Projection)</h1>
    <hr />
    <table border="1">
    <thead>
        <tr style="text-align: center;">
            <td>주소번호</td>
            <td>주소</td>
            <td>회원아이디</td>
            <td>회원이름</td>
            <td>조합 ('주소번호' , '주소정보')</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="obj : ${list}">
            <td th:text="${obj.no}"></td>
            <td th:text="${obj.address}"></td>
            <td th:text="${obj.member1.id}"></td>
            <td th:text="${obj.member1.name}"></td>
            <td th:text="${obj.noAddress}"></td>
        </tr>
    </tbody>
</table>
    
</body>
</html>