<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>고객 홈화면</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <h3>고객용 홈화면</h3>
    <a th:href="@{/customer/home.do(menu=1)}">정보수정(이름,나이)</a>
    <a th:href="@{/customer/home.do(menu=2)}">비번변경(비번입력해서 확인후 변경)</a>
    <a th:href="@{/customer/home.do(menu=3)}">회원탈퇴(삭제, 로그아웃)</a>
    <form th:action="@{/logout.do}" method="post">
        <input type="submit" value="로그아웃" />
    </form>
    <hr />
    <div th:if="${#strings.equals(param.menu, '1')}">
        <form th:action="@{/customer/home.do(menu=1)}" th:object="${member}" method="post">
            <input type="text" th:field="${member.name}" placeholder="이름" />
            <select th:field="${member.age}">
                <!-- <option value="전송값" th:value="실제전송값" th:text="보여지는값">화면에 보이는것</option> -->
                <option th:each="num : ${#numbers.sequence(1,120)}" th:value="${num}" th:text="|${num}세|" />
            </select>
            <input type="submit" value="변경하기" />
        </form>
        <hr />

        <form th:object="${member}">
            <input type="checkbox" th:each="tmp : ${checklabel}" th:text="${tmp}" th:value="${tmp}"
                th:field="${member.name}" />
            <hr />
            <input type="radio" th:each="tmp : ${checklabel}" th:text="${tmp}" th:value="${tmp}"
                th:field="${member.name}" />
        </form>

    </div>
    
    <div th:if="${#strings.equals(param.menu, '2')}">
        <form th:action="@{/customer/home.do(menu=2)}" method="post">
            <input type="password" placeholder="현재비밀번호">
            <input type="password" placeholder="바꿀비밀번호">
            <input type="submit" value="비밀번호 변경하기">
        </form>
    </div>
    <div th:if="${#strings.equals(param.menu, '3')}">
        <form th:action="@{/customer/home.do(menu=3)}" method="post">
            <input type="password" placeholder="현재비밀번호">
            <input type="submit" value="탈퇴하기">
        </form>
    </div>
</body>

</html>